body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.eslogan
{
    font-size: 40px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
}

.main-header
{
    background-color: #003652;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.nav-link
{
    color: white;
    margin-right: -4px;
    text-decoration: none;
    width: 22%;
    display: inline-block;
}

.text-center
{
    text-align: center;
}

.principal
{
    min-height: 100vh;
}

.logo
{
    height: 100px;
    margin-top: 10px;
}

.producto img
{
    width: 300px;
}

.tarjeta
{
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mapa
{
    margin: 20px;
}

.imagen
{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 40px;
}

.imagen img
{
    width: 100%;
}

.texto
{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.publi2
{
    background-color: rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
}

.main-footer
{
    width: 100%;
    background-color: black;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
}

.nav-link2
{
    color: white;
    margin-right: -4px;
    text-decoration: none;
    width: 18%;
    display: inline-block;
}

.main-footer p
{
    color: white;
    margin-right: -4px;
    display: inline-block;
    font-size: 12px;
}

.contacto
{
    text-align: center;
    font-size: 15px;
}

.cultura
{
    text-align: center;
    padding: -10px;
    width: 70%;
    margin-left: 15%;
}

.cultura h1
{
    font-size: 40px;
    color: rgba(11, 184, 226, 1);
}

.tarjeta2
{
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 20px;
}

.tarjeta2 img
{
    width: 64px;
}

select
{
    margin-bottom: 15px;
}

.final
{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

.final input
{
    width: 100px;
    height: 80px;
    font-size: 20px;
    border-radius: 4px;
}

.datos
{
    text-align: center;
}

.datos h2
{
    font-size: 20px;
}